<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.utility.finmartcontact">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_synccontact"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_synccontact_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.utility.finmartcontact.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <activity
                android:name="com.utility.finmartcontact.home.HomeActivity"
                android:exported="false"
                android:label="@string/title_activity_home"
                android:launchMode="standard"
                android:parentActivityName=".BaseActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utility.finmartcontact.BaseActivity" />
        </activity>
        <activity
                android:name=".webview.CommonWebViewActivity"
                android:exported="true"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden|stateHidden">
        </activity>
        <activity
                android:name=".login.LoginActivity"
                android:exported="true"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity
                android:name=".splashScreen.SplashScreenActivity"
                android:exported="true"
                android:noHistory="true"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".utility.MyFirebaseMessagingService"
                android:exported="true"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>